body {
  position: relative;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

#masthead {
  margin-top: 40px;
  background-color: rgb(150, 0, 0);
  border-bottom: 1px solid rgba(153, 153, 153, .7);
}

#masthead h1 {
  font-size: 54px;
  line-height: 1;
}

#masthead p {
  font-size: 13px;
  font-weight: 300;
}

#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}

#masthead h1, #masthead p {
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin-bottom: 10px;
  text-align: center;
}

#masthead p a {
  color: white;
  font-weight: bold;
}

#masthead .inner {
  padding: 30px 0;
  background: transparent url(/images/grid-18px.png) top center;
}

a {
  color: #099;
  text-decoration: none;
}

a:hover {
  color: #099;
  text-decoration: underline;
}

div#first h6 {
  color: #999;
}

div#first p {
  color: #333;
}

div#first {
  background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  margin-bottom: 15px;
}

div#first h6, div#first p {
  text-align: center;
}

div#first .row {
  margin: 0 -20px;
  border-bottom: 1px solid #EEE;
}

div#first .columns {
  padding: 17px 20px 26px;
  border-left: 1px solid #EEE;
  width: 285px;
  margin-left: 0;
}

div#first div.columns:last-child {
  width: 286px;
  border-right: 1px solid #EEE;
}

.topbar form {
  /* float: right; */
}

.topbar .secondary-nav {
  /* float: right; */
}

textarea.email-message  {
  width: 98%;
  height: 80px;
}

.email-modal {
  position: fixed;
  top: 5%;
  left: 25%;
  margin-top: 80px;
  z-index: 1002;
  overflow: auto;
  display: none;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.person {
  margin-bottom: 10px;
}
