body {
  position: relative;
  margin-bottom: 80px;
}

.center {
  text-align: center;
}

.hidden {
  display: none;
}

#masthead {
  margin-top: 40px;
  background-color: rgb(150, 0, 0);
  border-bottom: 1px solid rgba(153, 153, 153, .7);
  display: none;
}

#masthead h1 {
  font-size: 54px;
  line-height: 1;
}

#masthead p {
  font-size: 13px;
  font-weight: 300;
}

#masthead p.lead {
  font-size: 20px;
  line-height: 27px;
}

#masthead h1, #masthead p {
  color: white;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .3);
  margin-bottom: 10px;
  text-align: center;
}

#masthead strong {
  text-transform: uppercase;
}

#masthead p a {
  color: white;
  font-weight: bold;
}

#masthead .inner {
  padding: 30px 0;
  background: transparent url(/images/grid-18px.png) top center;
}

a {
  color: #960000;
  text-decoration: none;
}

a:hover {
  color: #B00800;
  text-decoration: underline;
}

div#tribar h6 {
  color: #999;
}

div#tribar p {
  color: #333;
}

div#tribar {
  margin-top: 40px;
  border-top: 5px solid #960000;
  background-color: #f5f5f5;
  background-image: -moz-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: -webkit-linear-gradient(#f9f9f9, #f5f5f5);
  background-image: linear-gradient(#f9f9f9, #f5f5f5);
  background-repeat: repeat-x;
  margin-bottom: 15px;
}

div#tribar a {
  color: #333;
  font-weight: bold;
}

div#tribar h6, div#tribar p {
  text-align: center;
}

div#tribar .row {
  margin: 0 -20px;
  border-bottom: 1px solid #EEE;
}

div#tribar .columns {
  padding: 17px 20px 26px;
  border-left: 1px solid #EEE;
  width: 285px;
  margin-left: 0;
}

div#tribar div.columns:last-child {
  width: 286px;
  border-right: 1px solid #EEE;
}

.topbar form {
  /* float: right; */
}

.topbar .secondary-nav li {
  font-size: 12px;
  margin-top: 9px;
}

.topbar .secondary-nav li a {
  background-color: #333333;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 0;
  border: 1px solid #404040;
}

textarea.email-message  {
  width: 98%;
  height: 80px;
}

.email-modal {
  position: fixed;
  top: 5%;
  left: 25%;
  margin-top: 80px;
  z-index: 1002;
  overflow: auto;
  display: none;
}

.black_overlay{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: black;
  z-index:1001;
  -moz-opacity: 0.8;
  -webkit-opacity: 0.8;
  opacity:.80;
  filter: alpha(opacity=80);
}

.row.map > div {
  height: 380px;
  margin-bottom: 10px;
}

.row.map address {
  margin-bottom: 0;
}

.person {
  margin-bottom: 10px;
  float: left;
  margin-right: 20px;
}

.person a.avatar:hover {
  text-decoration: none;
}

.person .avatar img {
  width: 40px;
}

.person a.profile-url {
  position: relative;
  bottom: 15px;
  padding-left: 15px;
}

/* Target container to overrule twitter js */
.container #twtr-widget-1 .twtr-doc,
.container #twtr-widget-1 .twtr-hd a,
.container #twtr-widget-1 h3,
.container #twtr-widget-1 h4 {
  color: #404040 !important;
}

.container #twtr-widget-1 .twtr-ft a {
  color: #333 !important;
}

.container .twtr-doc {
  border: 1px solid #DDD;
}

.container .twtr-doc, .container .twtr-timeline {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  border: 1px solid #DDD;
}

.row.repos > div {
  line-height: 40px;
}
