@import "blueprint/reset";
@import "compass/css3";

$orange: #FFA500;
$light_orange: lighten($orange, 30%);
$dark_orange: darken($orange, 30%);
$transparent: rgba(0,0,0,0);

@mixin dimpled_orange {
  @include border-radius(100%);
  @include box-shadow(black 0 0 5px 1px,
    $dark_orange 0 0 30px 0 inset);
  @include background(
    radial-gradient(45px 45px, rgba(0,0,0,.2), $transparent 3px)
    $orange);
}


$navigation_size: 100px;

body {
  font-family: Arial, sans-serif;
  @include background-image(linear-gradient(top, $light_orange, $orange));
}

header {
  text-align:center;

  h1 {
    font-size:72px;
    color: $orange;
    @include text-shadow($dark_orange 1px 1px 0px,
                         $light_orange -1px -1px 0px);
    font-weight:bold;
    margin: 0 0 10px;
  }
  h2 {
    font-size:18px;
    color: $dark_orange;
    margin: 10px 0;
  }

  .nav li {
    margin: 0 10px;
    position:relative;
    display:inline-block;
    width: $navigation_size;
    height: $navigation_size;

    @include dimpled_orange;

    a {
      color: #331C00;
      text-decoration: none;
      font-weight:bold;
      position:relative;
      display: block;
      line-height:$navigation_size;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}

.content {
  background: white;
  height: 1800px;
  width:960px;
  margin: 10px auto;
}
