#tribar
  .container
    .row
      .span5.columns
        %h6 Meet &amp; Greet
        %p
          Network with fellow Ruby developers in the Orange County area
          or sit and listen(or participate) in our monthly meetup presentations.
      .span5.columns
        %h6 Code &amp; Hack
        %p
          Come have fun and work on awesome projects with the fellow members of OCRuby.
          Newcomers and seasoned veterans are more than welcome to join, so come out!
      .span5.columns
        %h6 The Meetup
        %p We organize our meetings and communicate with our members via meetup.com.  Join our group!
        %p.center
          %a.btn{:href => "http://www.meetup.com/ocruby"} Meetup.com &rarr;
%div
  .container
    #when-and-where-section.page-header
      %h1
        When &amp; Where
        %small general information on our schedule
    .row
      .span9
        = partial 'projects/map'
      .span7
        %h3 Address
        %h5 OC Ruby Hackfest, Every Thursday @
        %address
          333 El Camino
          %br
          Tustin, CA 92780
        %h5 Instructions
        %p
          %strong Parking:
          on street side, avoid gravel lot at ALL COST
          %br
          %strong Hacking:
          Bring your laptops and thinking caps
    #people-section.page-header
      %h1
        People
        %small members of our group
    .row
      .span8
        .person.row
          .span4.columns
            %h3 Amara Bayer
            %p.twitter @amara.bayer
          .span12.columns
            Bio here Inventore omnis ut iusto totam.  Adipisci aspernatur ea laudantium officiis.  Numquam fuga et ipsa voluptatem corporis id quis.  In fugiat dolor placeat nesciunt.  Dolore aut laboriosam voluptate esse non.  Excepturi impedit dolorem eos non fugiat.  In voluptatem eum vitae quaerat sunt.
        .person.row
          .span4.columns
            %h3 Christy O'Hara
            %p.twitter @christy.o'hara
          .span12.columns
            Bio here Dolor earum debitis voluptatum repudiandae dolores sed aut ex.  Sit quas ipsum sunt iure cupiditate.  Itaque tempore laudantium eos officia ea.  Molestiae eveniet id occaecati.
        .person.row
          .span4.columns
            %h3 Damon Schmeler III
            %p.twitter @damon.schmeler.iii
          .span12.columns
            Bio here In vel nihil quia molestiae id magni cum asperiores.  Modi similique id amet qui qui quasi commodi.  In minus beatae pariatur illo repellat.
        .person.row
          .span4.columns
            %h3 Dorothea Gerlach
            %p.twitter @dorothea.gerlach
          .span12.columns
            Bio here Tempora illo voluptates quod labore molestiae quia dignissimos qui.  Fuga adipisci error dolore ipsum rem maxime itaque.  Et in inventore libero enim.  A quaerat quae repudiandae excepturi.  Praesentium autem debitis voluptates vel doloremque rerum numquam.  Quos quis a facilis.  Voluptates quos debitis perspiciatis a.
        .person.row
          .span4.columns
            %h3 Dr. Isadore Bashirian
            %p.twitter @dr..isadore.bashirian
          .span12.columns
            Bio here Quidem et est iste non nobis et.  Excepturi et et saepe quisquam.  Rerum non atque quisquam magni totam facilis velit optio.  Vel et est ea voluptas dicta illum.  Culpa ut ea repellendus.  Ipsam occaecati eveniet fugit odio et quisquam accusamus tenetur.
      .span4.pull-right.offset4
        = partial 'projects/twitter'

    #projects-section.page-header
      %h1
        Projects
        %small things we've worked on
    .row
      %p Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
      %p Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
