!!!
%html
  %head
    %meta(charset="UTF-8")
    %title OCRuby Brigade
    %link(rel="icon" href="/favicon.ico")
    %link(rel="shortcut icon" href="/favicon.ico")
    = stylesheet_link_tag "http://twitter.github.com/bootstrap/assets/css/bootstrap-1.1.0.min.css", "screen.css", :media => "screen, projection"
    = javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js" 
    = javascript_include_tag "jquery.scrollTo-1.4.2-min", "application.js"
  %body
    .topbar
      .fill
        .container
          %h3
            %a{:href => "#"} OC Ruby
          %ul.primary-nav
            %li
              %a.active{:href => "#"} When &amp; Where
            %li
              %a{:href => "#"} People
            %li
              %a{:href => "#"} Projects
            %li
              %a#contact_us{:href => "#"} Contact Us
          %form{:action => "", :method => "post"}
            %input{:placeholder => "Search", :type => "text"}/
          %ul.nav.secondary-nav
            %li.menu
              %a.menu{:href => "#"} Account
              %ul.menu-dropdown
                %li
                  %a{:href => "#"} Secondary link
                %li
                  %a{:href => "#"} Something else here
                %li.divider
                  %li
                    %a{:href => "#"} Another link
    #masthead
      .inner
        .container
          %h1 OCRuby Brigade
          %p.lead
            Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
          %p
            %strong Some strong:
            Some subheading Lorem ipsum dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam.

    = yield

    .well.email-modal{:style => "background-color: #888; border: none; padding: 40px;"}
      .modal{:style => "position: relative; top: auto; left: auto; margin: 0 auto; z-index: 1"}
        .modal-header
          %h3
            Email Us
            %small we'd love to hear your thoughts and proposals
          %a.close{:href => "#"} x
        .modal-body
          %form.form-stacked{:action => "", :method => "post"}
            %fieldset
              .clearfix
                %label{:for => ""} Name
                .input
                  %input#xlInput.xlarge{:name => "xlInput", :size => "30", :type => "text"}
              .clearfix
                %label{:for => ""} Email
                .input
                  %input#xlInput.xlarge{:name => "xlInput", :size => "30", :type => "text"}
              .clearfix
                %label{:for => ""} Subject
                .input
                  %input#xlInput.xlarge{:name => "xlInput", :size => "30", :type => "text"}
              .clearfix
                %label{:for => ""} Message
                .input
                  %textarea.email-message
        .modal-footer
          %a.btn.primary{:href => "#"} Send
          %a.btn.secondary{:href => "#"} Cancel
#fade.black_overlay

